body {
  background-color: #f6ecff;
  font-family: "Itim";
}

html, body {
  height: 100%;
  overflow: auto;
}


.App {
  text-align: center;
}

h1 {
  font-family: "Licorice";
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  margin-top: 3%;
}

h2 {
  font-family: "Itim";
  font-weight: 400;
  font-size: 1.3rem;
  position: relative;
  bottom: 12px;
  margin-bottom: 20px;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  gap: 15px;
}

.circle1,
.circle2,
.circle3 {
  border-radius: 50%;
  border: solid 0.5px black;
  width: 15px;
  height: 15px;
  animation: pulseFade 1.5s infinite ease-in-out;
}

.circle1 {
  background-color: #fbf0b2;
  animation-delay: 0s;
}

.circle2 {
  background-color: #ffc7ea;
  animation-delay: 0.3s;
}

.circle3 {
  background-color: #caedff;
  animation-delay: 0.5s;
}

@keyframes pulseFade {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.Add {
  color: rgb(30, 29, 29);
  border: solid 1px black;
  padding: 10px 10px;
  width: 80px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #fbf0b2;
  transition: transform 0.1s ease, box-shadow 0.1s ease,
    background-color 0.2s ease;
  font-family: "Itim";
  font-weight: 400;
  font-size: 0.9rem;
}
.Add:hover {
  background-color: #fff8d2;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Add:active {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 20px auto;
}

.my-confirm-btn, .my-cancel-btn, .my-ok-button {
  color: rgb(30, 29, 29);
  border: solid 1px black;
  padding: 10px 10px;
  width: 70px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-family: "Itim";
  box-shadow: none !important;
  filter: none !important;
}

.my-confirm-btn {
  background-color: #fbf0b2 !important;
}

.my-confirm-btn:hover {
  background-color: #fff8d2 !important;
  box-shadow: none !important;
  filter: none !important;
  filter: brightness(1) !important; 
  box-shadow: none !important;
  opacity: 1 !important;
}

.my-cancel-btn, .my-ok-button {
  background-color: #ffc7fd !important;
}

.my-cancel-btn:hover, .my-ok-button:hover {
  background-color: #ffc7fd !important;
}


.my-cancel-btn:hover, .my-confirm-btn:hover, .my-ok-button:hover, .swal2-confirm:hover {
  opacity: 1 !important;
  transform: scale(0.95);
  box-shadow: none !important;
  filter: none !important;
  filter: brightness(1.1) !important;
  box-shadow: none !important;
}


.my-cancel-btn:active,
.my-ok-button:active {
  background-color: #ffc7ea !important;
  box-shadow: none !important; 
  filter: none !important; 
  transform: none !important;
  filter: brightness(1.4) !important;

}

 .my-confirm-btn:active {
  background-color: #fbf0b2 !important;
  box-shadow: none !important;
  filter: none !important;
  transform: none !important;
  filter: brightness(1.3) !important;
}

.large-alert {
  border-radius: 30px;
}

.loading-title {
margin-top: 20px;
font-size: 1rem;
font-family: 'Inter', sans-serif;
color: #383636;

}

.empty {
  margin-top: 5%;
  font-family: 'Inter', sans-serif;
}

.loading-alert {
  padding-top: 20px;
width: 270px;
border-radius: 40px;
background-color: #ffe4f8;
height: auto;
}

.shaky-emoji, .fun {
  margin-top: 5%;
  display: inline-block;
}

.shaky-emoji {
  animation: shake 0.6s infinite alternate;
}

.fun {
  animation: fun 2.5s ease-in-out infinite;
}



.swal-custom-text {
font-size: 1.2rem;
color: #3d3b3b;
position: relative;
bottom: 10px;
font-family: 'Inter', sans-serif; }

.swal-custom-title {
  color: #333131 !important;
  font-family: 'Inter', sans-serif;
  font-size: 2.3rem;
}

@keyframes shake {
  0% { transform: translateY(0); }
  100% { transform: translateY(-3px); }
}


@keyframes fun {
  0%   { transform: translateY(0); }
  10%  { transform: translateY(-3px); }
  20%  { transform: translateY(3px); }
  30%  { transform: translateY(-2px); }
  40%  { transform: translateY(2px); }
  50%  { transform: translateY(-1px); }
  60%  { transform: translateY(1px); }
  100% { transform: translateY(1px); }
}

.finish-title, .finish-text {
  color: #fed6ff;
  font-family: 'Inter', sans-serif;  
}

.finish-title {
  padding-top: 80px;
}

.finish-text {
  margin-top: 0;
  padding-bottom: 30px;
}

.finish-str {
  font-size: 1.5rem;
  animation: shine 2s ease-in-out infinite;
  color: #ffd700;
  font-size: 3rem;
  position: relative;
  bottom: 30px;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700;
    opacity: 0.8;
  }
  50% {
    text-shadow: 0 0 15px #ffd700, 0 0 25px #ffd700, 0 0 35px #ffd700;
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700;
    opacity: 0.8;
  }
}
@media (max-width: 768px) {
  .cards-container {
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
  }
}

@media (max-width: 375px) {
 

  h2 {
    font-size: 1.2rem;
    margin: 3px;
  }

}

@media (max-width: 390px) {
 

  h2 {
    font-size: 1.2rem;
    margin: 4px;
  }

}


@media (max-width: 1024px) {
  .cards-container { 
    justify-content: center;
    

 
}
}

@media (max-width: 1280px) {
  .cards-container { 
    justify-content: center;
}
}